<div class="container mt-5">
  <form
    #userForm="ngForm"
    (ngSubmit)="userForm.form.valid && submitForm(userForm)">
    <div *ngIf="alertMessage" [class]="alertClass + ' alert'" role="alert">{{alertMessage}}</div>

    <div class="form-group mb-3">
      <label>First Name</label>
      <input
        type="text"
        name="firstName"
        class="form-control"
        [(ngModel)]="formData.firstName"
        #firstName="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && firstName.invalid }"
        required/>
        <div class="invalid-feedback" *ngIf="userForm.submitted && firstName.invalid">
          <p *ngIf="firstName.invalid">First name is required</p>
        </div>
    </div>
    <div class="form-group mb-3">
      <label>Last Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        [(ngModel)]="formData.lastName"
        #lastName="ngModel"
        [ngClass]="{ 'is-invalid': userForm.submitted && lastName.invalid }"
        required/>
        <div class="invalid-feedback" *ngIf="userForm.submitted && lastName.invalid">
          <p *ngIf="lastName.invalid">Last name is required</p>
        </div>
    </div>
    

    <div class="form-group">
      <button class="btn btn-danger btn-block">Submit</button>
    </div>
  </form>
</div>


